@import "./common";

.button {
  background: transparent;
  border: 2px solid $color-highlight;
  color: $color-highlight;
  font-size: 1.5rem;
  padding: 0.8rem 5rem;

  &:disabled {
    opacity: 0.5;
  }
}
